.characteristics {
  width: 100%;
  height: 300px;
  margin: 20px;
}

.half {
  display: flex;
}

.body {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

div.body:hover {
  transform: translateY(-15px);
  cursor: pointer;
}

div.body h3 {
  width: 50%;
  margin: 20px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  color: #c1121f;
}

div.body p {
  width: 50%;
  margin: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  color: #669bbc;
}

@media only screen and (max-width: 600px) {
  .characteristics {
    height: 200px;
    margin: auto;
    overflow: hidden;
  }

  .half {
    flex-direction: column;
  }

  .body {
    padding: 0%;
  }

  div .body h3 {
    margin: 20px;
    flex-direction: column;
    justify-items: center;
    color: #c1121f;
    overflow: hidden;
  }

  div .body p {
    font-size: 16px;
    flex-direction: column;
    overflow: hidden;
  }

}