.desig-page-body {
  display: flex;
  justify-content: space-around;
}

.body {
  display: flex;
  flex-direction: column;
}

.second-img-body {
  display: flex;
  flex-direction: column;
}

.image-styles {
  border-radius: 200px;
  height: 300px;
  margin: 20px;
}

.container-img-text {
  border-style: solid;
  background-color: #818181;
  display: flex;
  align-items: center;
  margin: 30px;
}

.text-body {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.div-button {
  display: flex;
  justify-content: center;
}

p {
  font-size: 20px;
  color: black;
}

h3 {
  font-size: 30px;
}

button {
  width: 50pxpx;
  height: 30px;
  margin: 5px;
}

button:hover {
  color: red;
  transform: translateY(-15px);
}

@media only screen and (max-width: 600px) {
  .desig-page-body {
    flex-direction: column;
  }

  .container-img-text {
    flex-direction: column;
  }
}